#desktop #search {
  border-bottom: 1px solid #000;
  padding: 10px;
  margin: -20px -20px 10px -20px;
}

#desktop #search > .container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: nowrap;
}

#desktop #search > .container input {
  flex-grow: 1;
}

.CodeMirror {
  border: 1px solid #000;
  font-size: 14px; /* or any other size you prefer */
  height: 100%;
}

/* When test-steps are displayed, show a border underneath.
 * Also, when the test-steps are _not_ shown, and the row
 * is "inactive", show a border. */
table.test-run tr.notes td,
table.test-run tr.test-suite td,
table.test-run tr.test-suite-group td {
  border-bottom: 1px solid #000;
}
table.test-run tr.notes:last-child td {
  border-bottom: none;
}

table.test-run tr.notes textarea {
  width: 100%;
  height: 30px;
}
textarea.notes {
  width: 100%;
  height: 50px;
}
table.test-run tr.test-suite {
  background-color: #ddd;
}
table.test-run tr.test-suite-group {
  background-color: #eee;
}
table.test-run tr.test-suite-group td {
  padding-left: 10px;
}
table.test-run tr.test-suite,
table.test-run tr.test-suite-group {
  font-family: "ChicagoFLF";
  font-size: 10px;
}
table.test-run tr.test-case {
  font-family: "Geneva";
  font-size: 10px;
  font-weight: bold;
}

table.test-run tr.test-steps textarea {
  margin: 5px 5px 5px 15px;
  border: none;
  height: auto;
  width: 90%;
  resize: none;
  cursor: not-allowed;
}
.CodeMirror {
  height: auto;
}
table.test-run tr.test-result.active {
}
table.test-run tr.test-result.inactive {
}
table.test-run tr.test-steps.active,
table.test-run tr.notes.active { }
table.test-run tr.test-steps.inactive,
table.test-run tr.notes.inactive {
  display: none;
}
/* When a test case becomes inactive, show the border */
table.test-run tr.test-case.inactive {
  border-bottom: 1px solid #000;
}
/* When active, display options and hide status name. Do the inverse when inactive. */
table.test-run tr.test-case.active .options {
  display: block;
}
table.test-run tr.test-case.active .status-name {
  display: none;
}
table.test-run tr.test-case.inactive .options {
  display: none;
}
table.test-run tr.test-case.inactive .status-name {
  display: block;
}

table.test-run td.resources {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
}
table.test-run td.resources .images {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
table.test-run td.resources .images img {
  flex: 1 1 calc(50% - 10px);
  width: 70px;
  max-width: 100%;
  height: auto;
  display: block;
}

.resources-widget .image figure {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 80px;
  margin: 0px;
}
.resources-widget .image figcaption {
  background-color: #000;
  font-family: "Geneva";
  font-size: 10px;
  color: #fff;
  text-align: center;
}
.resources-widget .image .crud-controls {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 10px;
}

.resources-widget,
.upload-widget {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 5px;
  background-color: #f9f9f9;
}
