/* When test-steps are displayed, show a border underneath.
 * Also, when the test-steps are _not_ shown, and the row
 * is "inactive", show a border. */
table.test-run tr.notes td,
table.test-run tr.test-suite td,
table.test-run tr.test-suite-group td {
  border-bottom: 1pt solid #000;
}
table.test-run tr.notes:last-child td {
  border-bottom: none;
}

table.test-run tr.notes textarea {
  width: 100%;
  height: 30pt;
}
textarea.notes {
  width: 100%;
  height: 50pt;
}
table.test-run tr.test-suite {
  background-color: #ddd;
}
table.test-run tr.test-suite-group {
  background-color: #eee;
}
table.test-run tr.test-suite-group td {
  padding-left: 10pt;
}
table.test-run tr.test-suite,
table.test-run tr.test-suite-group {
  font-family: "ChicagoFLF";
  font-size: 10pt;
}
table.test-run tr.test-case {
  font-family: "Geneva";
  font-size: 10pt;
  font-weight: bold;
}

table.test-run tr.test-steps textarea {
  margin: 5pt 5pt 5pt 15pt;
  border: none;
  height: auto;
  width: 90%;
  resize: none;
  cursor: not-allowed;
}
.CodeMirror {
  height: auto;
}
table.test-run tr.test-result.active {
}
table.test-run tr.test-result.inactive {
}
table.test-run tr.test-steps.active,
table.test-run tr.notes.active { }
table.test-run tr.test-steps.inactive,
table.test-run tr.notes.inactive {
  display: none;
}
/* When a test case becomes inactive, show the border */
table.test-run tr.test-case.inactive {
  border-bottom: 1pt solid #000;
}
/* When active, display options and hide status name. Do the inverse when inactive. */
table.test-run tr.test-case.active .options {
  display: block;
}
table.test-run tr.test-case.active .status-name {
  display: none;
}
table.test-run tr.test-case.inactive .options {
  display: none;
}
table.test-run tr.test-case.inactive .status-name {
  display: block;
}
