@font-face {
    font-family: "Roboto-Regular";
    src: url("/font/Roboto-Regular.ttf") format('truetype'); /* Safari, Android, iOS */
}
@font-face {
    font-family: "Roboto-Medium";
    src: url("/font/Roboto-Medium.ttf") format('truetype'); /* Safari, Android, iOS */
}
@font-face {
    font-family: "SciFly";
    src: url("/font/SciFly-Sans.ttf") format('truetype'); /* Safari, Android, iOS */
}

body {
    background-color: #061920;
}

#ays-network {
    width: 500px;
    height: 500px;
    border: 1px solid lightgray;
    background-color: #061920;
}

#loading-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 200px;
    background-color: rgba(200, 200, 200, 0.8);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 1;
}

#loading-bar-outer-border {
}

#loading-bar-inner-border {
}

#loading-bar-text {
}

#loading-bar-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    margin: auto auto auto auto;
    border-radius: 11px;
    border: 2px solid rgba(30, 30, 30, 0.05);
    background: rgb(0, 173, 246); /* Old browsers */
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.4);
}

table.legend_table {
    border-collapse: collapse;
}
table.legend_table td,
table.legend_table th {
    border: 1px solid #d3d3d3;
    padding: 10px;
}

table.legend_table td {
    text-align: center;
    width: 110px;
}
