/* Copyright ⓒ 2024 Bithead LLC. All rights reserved. */

/** Reset **/

/* padding: top right bottom left; */

@font-face {
  font-family: "ChicagoFLF";
  src: url("/boss/ChicagoFLF.ttf") format('truetype'); /* Safari, Android, iOS */
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

html, body {
  /* transform: scale(0.7); /* 150% scale */
  transform-origin: 0 0; /* Ensure scaling from top-left corner */
}

hr {
  border: none;
  height: 1px;
  background-color: #000;
  margin: 20px 0px;
}

a {
  font-family: "Geneva";
  font-size: 16px;
  color: #222;
}

h1 {
  font-size: 20px;
  font-family: "ChicagoFLF";
}

h2 {
  font-size: 18px;
  font-family: "ChicagoFLF";
}
h3 {
  font-size: 16px;
  font-family: "ChicagoFLF";
}
h4 {
  font-size: 14px;
  font-family: "ChicagoFLF";
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #000;
}
table th {
  font-size: 14px;
  font-family: "ChicagoFLF";
  text-align: left;
  padding: 4px;
  border-bottom: 1px solid #000;
}
/* I'm not sure how useful this is anymore */
table th.add-eighty-width,
table th.first {
  width: 80%;
}
table tr.boundary td {
  height: 3px;
  padding: 0px;
  border-bottom: 1px solid #000;
}
table tbody td {
  padding: 4px;
}

/* Fragments are used as templates. Hide them all by default. */
fragment {
  display: none;
}

body {
  background-color: #ebebeb;
}

#desktop {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #ebebeb;

  /* No scrollbars. Content may move outside of the viewport. */
  overflow: hidden;
}

#desktop-container {
  /* TODO: This is temporary. Once windows start moving around, this will no longer apply. */
  padding: 10px;
}

#desktop #footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-family: "Geneva";
  font-size: 12px;
  color: #444;
}
#desktop #footer a {
  color: #222;
  font-weight: bold;
  font-size: 12px;
}

/** Modal **/

/* The overlay (modal), is shown over #desktop, os-bar, and windows. */
.ui-modal-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 1999;
}

.ui-modal-container {
  position: absolute;
  top: 150px;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  z-index: 2000; /* Above everything including overlay */
}

.ui-modal {
  outline: 1px solid #000;
  outline-offset: 2px;
  /* Ensures the outline does not overlap elements that are beside it */
  margin: 2px;
  /* Fills in the space between border and outline */
  box-shadow: 0px 0px 0px 2px #fff;
  background-color: #fff;
}

.ui-modal .title {
  text-align: center;
  font-family: "ChicagoFLF";
  font-size: 16px;
  color: #000;
  padding-bottom: 2px;
}

.ui-modal > .container {
  border: 3px solid #000;
  /* Bottom is 10px because all `ui-modal`s have `controls` on the bottom,
    `controls` have 10px padding on bottom. */
  padding: 10px 10px 0px 10px;
  font-family: "ChicagoFLF";
  font-size: 16px;
}
.ui-modal > .container .controls {
  padding-bottom: 10px;
}
.ui-modal > .container a {
  font-family: "ChicagoFLF";
  font-size: 16px;
}

/* Add space between messages in modal. */
.ui-modal > .container p.add-margin {
  margin-top: 20px;
}

/* Display exclamation mark to the left of modal message */
.ui-modal .exclamation {
  padding-left: 70px;
  background-image: url("/boss/img/exclamation-icon.svg");
  background-repeat: no-repeat;
  background-size: 50px auto;
  min-height: 50px;
}
.ui-modal .exclamation.add-margin {
  margin-bottom: 20px;
}

/* Small text displayed on bottom-left of modal window. Usually used
   in "About" pages. */
.ui-modal .footer a,
.ui-modal .footer {
  font-family: "Geneva";
  font-size: 8px;
  color: #000;
  margin-bottom: 2px;
}

/** Window **/

#desktop .ui-window {
  border: 1px solid #000;
  background-color: #fff;
  box-shadow: 1px 1px 0px 0px #000;
  position: absolute;
  /** For testing. This is set by OS.
  left: 10px;
  top: 10px;
  */
}

#desktop .ui-window .top {
  height: 22px;
  display: -webkit-flex;
  display: flex;
  border-bottom: 1px solid #000;
  background-position: center;
  /* TODO: The shade is too big */
  background-image: url("/boss/img/window-shade.svg");
  background-size: auto 38px;
  background-repeat: repeat-x;
  flex-shrink: 0;
  color: #000;
}
/* The `blurred` state is placed on the container for OS managed windows.
 * It's applied directly to the .ui-window for pre-rendered windows. */
#desktop .ui-window.blurred .top,
#desktop .blurred > .ui-window .top {
  background-image: none;
  color: #a5a5a5;
}

#desktop .ui-window .close-button {
  /* This has to be displayed as `block`. Using relative does not work.
     The hitbox does _not_ shift with where the element is visually. */
  display: block;
  margin-top: 2px;
  margin-left: 10px;
  width: 18px;
  height: 18px;
  background-image: url("/boss/img/close-button.svg");
  background-position: center;
  background-repeat: no-repeat;
}

#desktop .ui-window .title {
  -webkit-flex: 1;
  flex: 1;
  position: relative;
  text-align: center; /* TODO: shouldn't this use flex content adjust center? */
  cursor: pointer;
}

#desktop .ui-window .title span {
  background-color: #fff;
  display: inline-block;
  /* left and right padding */
  padding: 2px 10px 0px 10px;
  font-family: "ChicagoFLF";
  font-size: 15px;
  /* This negates the `margin-left` value on `.close-button` so that the title
     is in the center. */
  margin-left: -10px;
}

#desktop .ui-window .zoom-button {
  position: relative;
  top: 2px;
  right: 10px;
  width: 18px;
  height: 18px;
  background-image: url("/boss/img/zoom-button.svg");
  background-position: center;
  background-repeat: no-repeat;
}

#desktop .ui-window .metadata {
  font-family: "Geneva";
  font-size: 10px;
  height: 14px;
  /* top right bottom left */
  padding: 5px 10px 5px 10px;
  border-bottom: 1px solid #000;
}

#desktop .ui-window .metadata-bottom {
  height: 2px;
  border-bottom: 1px solid #000;
}

#desktop .ui-window.fullscreen {
  border-left: 0px;
  border-right: 0px;
  border-top: 1px solid #000;
  border-bottom: 0px;
  width: 100%;
  height: 100%;
  /* The height of the os-bar */
  top: 26px;
  left: 0px;
}
#desktop .ui-window.fullscreen .container {
  overflow: hidden;
  resize: none;
}

/** Scroll Bar **/

::-webkit-scrollbar {
  width: 18px;
  height: 18px;
}
::-webkit-scrollbar-thumb {
  height: 18px;
  background-color: #fff;
  border: 1px solid #000;
}
::-webkit-scrollbar-track {
  background-color: #ededed;
}
/* Part of the track not covered by thumb */
::-webkit-scrollbar-track-piece {
}
::-webkit-scrollbar-track:horizontal {
  border-top: 1px solid #000;
}
::-webkit-scrollbar-track:vertical {
  border-left: 1px solid #000;
}
/* Where the two scrollbars meet */
::-webkit-scrollbar-corner {
  /* Add corner image */
}
::-webkit-scrollbar-button {
  background-color: #fff;
  display: block;
  border-bottom: 1px solid #000;
  height: 18px;
  width: 18px;
}
::-webkit-scrollbar-button:vertical:start {
  background-image: url("/boss/img/up-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-left: 1px solid #000;
}
::-webkit-scrollbar-button:vertical:end {
  background-image: url("/boss/img/down-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
}
::-webkit-scrollbar-button:horizontal:start {
  background-image: url("/boss/img/left-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 0px;
}
::-webkit-scrollbar-button:horizontal:end {
  background-image: url("/boss/img/right-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 0px;
}
::-webkit-resizer {
  background-image: url("/boss/img/scrollbar-resize-button.svg");
  background-position: center;
  background-repeat: no-repeat;
  /*
  border-top: 1px solid #000;
  border-left: 1px solid #000;*/
}
/* Prevent showing double buttons */
::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement,
::-webkit-scrollbar-button:horizontal:start:increment,
::-webkit-scrollbar-button:horizontal:end:decrement {
  display: none;
}

/** Window Container **/

/**
 * The container "contains" the content of the window.
 */

#desktop .ui-window > .container {
  padding: 20px;
  font-family: "Geneva";
  font-size: 22px;
  overflow: scroll;
  resize: both;
  /* Prevents window from being resized down any further */
  min-width: 360px;
  min-height: 40px;
}

/* Some windows, like folder windows, should have no padding. */
#desktop .ui-window > .container.no-padding {
  padding: 0px;
}

/**
 * OS Bar
 *
 * This is displaye at the top of the page and provides all controls to operate
 * with the OS.
 **/
#os-bar {
  display: flex;
  align-items: stretch;
  /* left padding accounts for padding already added by menu */
  padding: 4px 20px 4px 12px;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: "ChicagoFLF";
  font-size: 12px;
}

/* All images must be the same size */
#os-bar img {
  width: 14px;
  height: 14px;
}
/* Displays all menus for OS or the active application */
#os-bar-menus {
  flex-grow: 1;
  display: flex;
}
/* Displays list of application icons that are running in the background */
#applications {
  flex: 0 1 auto;
  width: 40px;
}
/* System clock */
#clock {
  flex: 0 1 auto;
  margin-top: 2px;
}

/** Buttons **/

/* Default: The default button option. Will activate when return key tapped. */

button.default {
  border: 1px solid #000;
  border-radius: 4px;
  outline: 2px solid #000;
  outline-offset: 1px;
  /* Ensures the outline does not overlap elements that are beside it */
  margin: 2px;
  color: #000;
  background-color: #fff;
  height: 24px;
  font-family: "ChicagoFLF";
  font-size: 14px;
  padding: 0px 20px 0px 20px;
}

button.default:hover {
  background-color: #000;
  color: #fff;
}

button.default:disabled {
  border: 1px solid #c0c0c0;
  outline: 2px solid #c0c0c0;
  color: #c0c0c0;
}

button.default:disabled:hover {
  background-color: #fff;
}

/* Primary: Same size as default w/o double border */

button.default,
button.primary,
button.secondary,
::file-selector-button {
  cursor: pointer;
}

button.primary {
  border: 1px solid #000;
  border-radius: 4px;
  height: 24px;
  color: #000;
  background-color: #fff;
  font-family: "ChicagoFLF";
  font-size: 14px;
  padding: 0px 20px 0px 20px;
}

button.primary:hover {
  background-color: #000;
  color: #fff;
}

button.primary:disabled {
  border: 1px solid #c0c0c0;
  color: #c0c0c0;
}

button.primary:disabled:hover {
  background-color: #fff;
}

/* Secondary: Thinner and smaller then primary button. */

button.secondary {
  border: 1px solid #000;
  border-radius: 4px;
  height: 14px;
  color: #000;
  background-color: #fff;
  font-family: "ChicagoFLF";
  font-size: 9px;
  padding: 0px 16px 0px 16px;
}

/* NOTE: Even though the file select is the same type of button as secondary, I
 * had to style it separately as it was interfering with secondary disabled
 * states */
::file-selector-button {
  border: 1px solid #000;
  border-radius: 4px;
  height: 14px;
  color: #000;
  background-color: #fff;
  font-family: "ChicagoFLF";
  font-size: 9px;
  padding: 0px 16px 0px 16px;
}

button.secondary:hover {
  background-color: #000;
  color: #fff;
}
::file-selector-button:hover {
  background-color: #000;
  color: #fff;
}

button.secondary:disabled {
  border: 1px solid #c0c0c0;
  color: #c0c0c0;
}
::file-selector-button:disabled {
  border: 1px solid #c0c0c0;
  color: #c0c0c0;
}

button.secondary:disabled:hover {
  background-color: #fff;
  color: #c0c0c0;
}
::file-selector-button:disabled:hover {
  background-color: #fff;
  color: #c0c0c0;
}

button.secondary.add-left-margin {
  margin-left: 5px;
}

/**
 * Position controls to the bottom right of the view.
 *
 * This is the common location for buttons for modal / CRUD ops / etc.
 */
.controls {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  gap: 10px;
  align-items: center;
}

/**
 * Displays controls to the right only.
 */
.controls-right {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

/** Inputs **/

textarea,
input[type=text], input[type=password] {
  border: 1px solid #000;
  height: 24px;
  width: 100%;
  font-family: "Geneva";
  font-size: 12px;
}

/* Radio */

input[type=radio] {
  border: 1px solid #000;
  height: 12px;
  width: 12px;
  transform: translateY(2px);
  /* Not supported in older browsers. I'm not about to use the crazy hacks to make it work in all browsers. */
  accent-color: #000;
}

input[type=checkbox] {
  border: 1px solid #000;
  border-radius: 0px;
  height: 12px;
  width: 12px;
  transform: translate(1px, 1px);
  /* Not supported in older browsers. I'm not about to use the crazy hacks to make it work in all browsers. */
  accent-color: #000;
  /* FIXME: It's possible to change the checkbox shape. It requires hiding the checkbox and drawing a new one using `before`. */
}

/* Pop-up & UI Menu (select) */

/* The size of the `select` is expected to be 140px */
.align-vertically {
  display: flex;
  gap: 165px;
  justify-content: flex-start;
}

/* Contains all `ui-menu`s for a respective application. */
.ui-menus {
  position: relative;
  display: flex;
}

.ui-menu {
  position: relative;
  cursor: pointer;
}
.popup-menu {
  display: flex;
  cursor: pointer;
}
.ui-menu {
  flex: 0 1 auto;
}

.ui-menu select,
.popup-menu select {
  display: none; /* Hide original select element */
}

.popup-menu label {
  margin-top: 6px;
  margin-right: 5px;
  font-size: 14px;
  /* This value may need to be configurable */
  width: 90px;
}

/**
 * The containers contain the label and the options for the select.
 *
 * In order for the content of the menu to display over other content, it must
 * be positioned absolutely inside another container that it is positioned
 * relative to.
 */
.ui-menu-container,
.popup-container {
  font-family: "ChicagoFLF";
  font-size: 12px;
}
.ui-menu-container {
  position: relative;
}
.popup-container {
  position: relative;
  border: 1px solid #000;
  box-shadow: 1px 1px 0px 0px #000;
}
.disabled .popup-container {
  border: 1px solid #aaa;
}

/* The menu label. This is the first option in select. */
.ui-menu-label {
  width: fit-content;
  padding: 2px 10px 2px 10px;
}
.popup-label { }

.ui-menu-label.popup-arrow-active {
  background-color: #000;
  color: #fff;
}
.ui-menu .sub-container {
  position: absolute;
  left: 0px;
  top: 17px;
  border: 1px solid #000;
  box-shadow: 1px 1px 0px 0px #000;
}

/* Point arrow down by default */
.popup-label:after {
  position: absolute;
  content: "";
  top: 10px;
  right: 10px;
  width: 0px;
  height: 0px;
  border: 5px solid transparent;
  border-color: #000 transparent transparent transparent;
}
.disabled .popup-label:after {
  border-color: #ddd transparent transparent transparent;
}

.popup-label.popup-arrow-active:after {
  border-color: transparent transparent #000 transparent;
  top: 5px;
}
.disabled .popup-label.popup-arrow-active:after {
  border-color: transparent transparent #aaa transparent;
}

/* Contains the pop-up choices */
.popup-choices { }

disabled .popup-choice,
.popup-choice.disabled,
.disabled .popup-label {
  color: #ddd;
}
.popup-choice, .popup-label {
  background-color: #fff;
  color: #000;
  padding: 4px 8px;
  cursor: pointer;
}

/* Represents an individual choice in the menu */
.popup-choice { }

.popup-choice:hover {
  background-color: #000;
  color: #fff;
}

/* A line that separates groups of options */
.popup-choice-group {
  height: 1px;
  background-color: #aaa;
}

/* Show the popup menu above all other elements */
.popup-active {
  z-index: 1000;
}
.popup-active .sub-container {
  display: block;
  position: absolute;
  /* TODO: The `left` and `width` may need to change depending on width of container.
   * This only works for containers that are 160px wide. */
  left: -1px;
  width: calc(100%);
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 1px 1px 0px 0px #000;
}

/* Hide select options when closed */
.popup-inactive {
  z-index: 0;
}
.popup-inactive .sub-container {
  display: none;
}

/**
 * Example using variables in CSS
 *
.rounded-corner {
  --radius: 2px;
}

select {
  border-radius: var(--radius);
}

<select class="rounded-corner">
  ...
</select>
*/

/* Folders */

ul.ui-folder { }

ul.ui-folder {
  --spacing: 2rem;
  --radius: 7px;
}

ul.ui-folder li {
  display: block;
  position: relative;
  padding-top: 2px;
  padding-left: calc(2 * var(--spacing) - var(--radius) - 4px);
  padding-bottom: 2px;
  font-family: "ChicagoFLF";
  font-size: 12px;
  cursor: pointer;
}

ul.ui-folder ul {
  padding-left: 0px;
}

ul.ui-folder ul li:last-child {
  border-color: transparent;
}

ul.ui-folder ul li::before {
  content: '';
  display: block;
  position: absolute;
  /* This must be set to 10px or the first option in the list will not be tappable. */
  top: 10px;
  left: 0px;
  width: calc(var(--spacing) + 2px);
  height: calc(var(--spacing) + 1px);
}

ul.ui-folder summary {
  display: block;
  cursor: pointer;
}

ul.ui-folder summary::marker,
ul.ui-folder summary::-webkit-details-marker {
  display: none;
}

ul.ui-folder summary:focus {
  outline: none;
}

ul.ui-folder summary:focus-visible { }

ul.ui-folder li::after,
ul.ui-folder summary::before {
  content: '';
  display: block;
  position: absolute;
  top: calc(var(--spacing) / 2 - var(--radius));
  left: 20px;
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
}

ul.ui-folder summary::before {
  z-index: 1;
  top: 2px;
  background: transparent url('/boss/img/folder-closed.svg') 0px 0px no-repeat;
}

ul.ui-folder details[open] > summary::before {
  top: 6px;
  background: transparent url('/boss/img/folder-open.svg') 0px 0px no-repeat;
}

ul.ui-folder li.group::before {
  width: 20px;
  top: 5px;
  left: 12px;
  background: transparent url('/boss/img/folder.svg') 0px 0px no-repeat;
}

ul.ui-folder li.server::before {
  width: 20px;
  top: 11px;
  left: 12px;
  background: transparent url('/boss/img/server.svg') 0px 0px no-repeat;
}

ul.ui-folder li.file::before {
  width: 12px;
  top: 4px;
  left: 30px;
  background: transparent url('/boss/img/file-icon.svg') 0px 0px no-repeat;
}

ul.ui-folder li span {
  padding: 0px 1px 0px 2px;
}

ul.ui-folder li span.active {
  background-color: #000;
  color: #fff;
}

/* Folder metadata */
ul.ui-folder .metadata, ul.ui-folder .metadata-title {
  display: none;
}

/* Flexbox
 * https://css-tricks.com/snippets/css/a-guide-to-flexbox/
 * https://css-tricks.com/snippets/css/complete-guide-grid/
 */

/** Fieldset **/

fieldset.add-margin {
  margin-bottom: 20px;
}

fieldset {
  border: none;
  border: 1px solid #000;
  /* top and bottom are 10 as 10 is too much between first component. 10 is added on bottom as the controls
     already have 10px bottom padding. */
  padding: 10px 20px 10px 20px;

  font-family: "Geneva";
  font-size: 14px;
}

fieldset legend {
  font-family: "ChicagoFLF";
  font-size: 14px;
  color: #000;
  padding-left: 5px;
  padding-right: 5px;
}

/** Little controls (up and down arrow control) **/

div.little-controls {
  display: inline-block;
  border: 1px solid #000;
  width: 8px;
  height: 16px;
  padding: 0px;
  margin: 0px;
}
div.little-controls .up,
div.little-controls .down {
  cursor: pointer;
  height: 50%;
  width: 100%;
  border: none;
  padding: 0px;
  margin: 0px;
  background-color: #fff;
}
div.little-controls .up {
  display: block;
  background-image: url("/boss/img/filled-up-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
}
div.little-controls .down {
  background-image: url("/boss/img/filled-down-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
}
div.little-controls .up:hover,
div.little-controls .down:hover {
  filter: invert(100%);
}
div.little-controls .up:disabled,
div.little-controls .down:disabled {
  filter: invert(20%);
}
/**
 * This is required when the little-controls are in `div`s where it should _not_ affect the parent's height.
 * This vertically centers the control w/o affecting the size of the parent's height.
 */
div.little-controls.add-vertical-center {
  vertical-align: middle;
}

/** Progress bar **/

.progress-bar {
  /** The OS is responsible for positioning, if any. **/
  display: block;
}
.progress-bar .title {
  font-family: "ChicagoFLF";
  font-size: 12px;
  color: #000;
  padding-bottom: 4px;
}
.progress-bar .progress-container {
  border: 1px solid #000;
  /* Required for indeterminate animation */
  overflow: hidden;
}
.progress-bar .progress {
  width: 10%;
  height: 10px;
  background-color: #000;
}

.ui-modal .progress-bar {
  margin-bottom: 10px;
}
.ui-modal .progress-bar > .title {
  text-align: left;
  font-family: "ChicagoFLF";
  font-size: 12px;
  color: #000;
}
/* Displays progress bar and `Stop` button */
.ui-modal .progress-bar > .progress-controls {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.ui-modal .progress-controls > .progress-container {
  flex-grow: 1;
  height: 10px;
}
.ui-modal .progress-controls > button.stop {
  width: 80px;
}

/* Indeterminate progress bar */

.progress-bar.indeterminate .progress {
  width: 100%;
  height: 10px;
  animation: indeterminate-animation 1s infinite linear;
  transform-origin: 0% 0%;
}

@keyframes indeterminate-animation {
  0% {
    transform: translateX(0) scaleX(0);
  }
  40% {
    transform: translateX(0) scaleX(0.4);
  }
  100% {
    transform: translateX(100%) scaleX(0.5);
  }
}

/** Bullet list of items **/

ul.bullet-list {
  padding-left: 0px;
  list-style-type: circle;
}

ul.bullet-list.add-more-margin {
  margin-bottom: 20px;
}

ul.bullet-list li {
  margin-left: 10px;
  font-family: "ChicagoFLF";
  font-size: 12px;
}

ul.bullet-list li:last-child {
}

ul.bullet-list li::before {
}

/** Common Utility **/

.add-margin {
  margin-bottom: 10px;
}

.center-control {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-window {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Used to center images in the middle of a container
 * The image must be contained within a `div.center-image` */
.center-image {
  text-align: center;
}
.center-image img {
  display: inline-block
  vertical-align: center;
}

.center-text {
  text-align: center;
}

/** List of items **/

ul.flat-list li {
  display: inline-block;
}

ul.flat-list,
ul.simple-list {
  padding-left: 0px;
  list-style: none;
}

ul.flat-list {
  margin-bottom: 10px;
}
ul.flat-list,
ul.simple-list.add-more-margin {
  margin-bottom: 20px;
}

ul.flat-list,
ul.simple-list li {
  font-family: "ChicagoFLF";
  font-size: 12px;
}

ul.flat-list,
ul.simple-list li:last-child {
}

ul.flat-list,
ul.simple-list li::before {
  content: '';
}

/** Form Fields **/

/* A read-only label field */
div.read-only label {
  font-family: "ChicagoFLF";
  font-size: 14px;
  display: inline-block;
  /* Should match the .popup-menu label width */
  width: 90px;
}
div.read-only label.wider {
  width: 120px;
}

/* The `span` inside `div.read-only` is the value for the field name */
div.read-only span {
  font-family: "Geneva";
  font-size: 14px;
}

label {
  font-family: "ChicagoFLF";
  font-size: 14px;
}

.checkbox-field.add-2x-margin {
  margin-bottom: 20px;
}

.text-field label {
  display: block;
}
.textarea-field label {
  display: block;
}

.checkbox-field label { }
.radio-field { }

/** List Box **/

.ui-list-box select {
  display: none;
}
.ui-list-box {
  /* The ui-list-box must conform to the size of its children's content. When
   * this component is managed by the OS, the parent's inline style is
   * associated to the facade in order to control `overflow-x`. However,
   * this then means the `ui-list-box` will be the same width of its container.
   * This ensures that its intrinsic size is determined by its child container.
   */
  display: inline-block;
  border: 1px solid #000;
  font-family: "ChicagoFLF";
  font-size: 14px;
  padding: 2px;
  background-color: #fff;
}
.ui-list-box > .container {
  overflow-x: hidden;
  overflow-y: auto;
}

.ui-list-box > .container > .option {
  padding-left: 2px;
  color: #000;
  background-color: #fff;
  height: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}
/* When icons are displayed, there needs to be enough space on the left to support
 * them. */

.ui-list-box > .container > .option.selected {
  color: #fff;
  background-color: #000;
}
.ui-list-box > .container > .option.selected > img {
  filter: invert(100%);
}
.ui-list-box > .container > .option.disabled {
  color: #ddd;
}

.ui-list-box > .container > .option.child {
  padding-left: 20px;
}
/* Icons displayed to the left of the option's label. */
.ui-list-box > .container > .option > img {
  position: relative;
  top: 1px;
  left: 0px;
  width: 14px;
  height: 14px;
  padding-right: 2px;
}

/** Stack Views **/

.hbox {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}
.hbox.align-top {
  align-items: flex-start;
}
.hbox.align-center {
  align-items: center;
}
.hbox.align-bottom {
  align-items: flex-end;
}

.vbox {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
.vbox.align-left {
  justify-content: flex-start;
}
.vbox.align-center {
  justify-content: center;
}
.vbox.align-right {
  justify-content: flex-end;
}
.vbox.separated {
  justify-content: space-between;
}
.vbox.align-top {
  justify-content: flex-start;
}
.vbox.align-bottom {
  justify-content: flex-end;
}

.hbox.gap-10 {
  gap: 10px;
}
.vbox.gap-10 {
  gap: 10px;
}
