div.console {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
}

div.console .history {
  height: 66;
  flex-grow: 1;
}

div.console .command {
  height: 34px;
}

.cm-console-gutter {
  width: 20px;
}
.cm-console-gutter::before {
  position: relative;
  content: ">";
  color: yellow;
  top: 4px;
  left: 10px;
}

div.console .CodeMirror {
  border: 0px;
}

/* Buttons display options for previewing the controller */
div.preview-panel {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
  height: 20px;
  padding: 5px;
  background-color: #fff;
  flex-shrink: 0;
}
